<h3>Find By Name</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">Age</label>
      <input type="text" class="form-control" id="cname" required [(ngModel)]="cname" name="cname">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let customer of customers">
    <h4>{{customer.cid}} - {{customer.cname}} {{customer.address}} {{customer.phone}}</h4>
  </li>
</ul>