<div *ngIf="info.token; else loggedOut">
  <p>
    <strong> Welcome</strong> {{info.username}}<br/>
    </p>
</div>

 <div id="h">
 <p> Your Recent Orders </p>
  <div id="home" *ngFor="let order of orders | async" style="width: 300px;">
        <div *ngIf="order">
         <div>
            <label>Order ID: </label> {{order.oid}}
            <label>Customer's Name: </label> {{order.cname}}
            <label>Amount: </label> {{order.amount}}
          </div>
          <hr>
        </div>
    </div>
</div>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
<ng-template #loggedOut>
  Please login.
</ng-template>